src/main/java/fr/univnantes/lina/uima/tkregex/antlr/generated/

# generated uima classes
src/test/java/fr/univnantes/termsuite/

# Java

*.class
bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
gradle.properties
build/
artifacts/

# Eclipse
.classpath
.project
.settings/

#IDEA
.idea
out
*.

# type system classes
src/test/java/fr/univnantes/lina/test/uima
uima-tokens-regex.iml

target
